<!-- Footer -->
footer(style="background:#191919;padding-top:40px")
	div.container
	
		include social.jade
		
		div.row
			div.col-lg-4.col-lg-offset-4.col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4
				a(href='/')
					img(src="/images/culogo.svg")
				p.center-text 1125 Colonel By Dr, Ottawa
				p.center-text ON K1S 5B6
				p.center-text (613) 520-2600
