div.row
  div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
    ul.list-inline.text-center
      li
        a(href="https://twitter.com/carleton_u")
          span.fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-twitter.fa-stack-1x.fa-inverse
      li
        a(href="http://www.facebook.com/carletonuniversity")
          span.fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-facebook.fa-stack-1x.fa-inverse
      li
        a(href="http://instagram.com/carleton_u")
          span.fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-instagram.fa-stack-1x.fa-inverse
      li
        a(href="http://www.youtube.com/user/carletonuvideos")
          span.fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-youtube-play.fa-stack-1x.fa-inverse
      li
        a(href="http://pinterest.com/carletonu/")
          span.fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-pinterest.fa-stack-1x.fa-inverse
hr
