#pagination{
  padding-bottom: 40px
}
.center-text{
  text-align: center;
  color: #fff;
}
.text{
  color: #cf112d;
}
.text:hover{
  text-decoration: underline;
}
.v-padded{
  margin: 10px 0px;
}
.h-padded{
  margin-left: 25px;
  margin-right: 25px;
}
.vertical-line{
  border-left: medium solid #cf112d;
  margin: 0px 30px;
  padding-left: 15px;
}
